*
{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{

    display: flex;
    width: 100%;
    height: 40px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Proza Libre', sans-serif;
    font-size: 16px;
    position: fixed;
    align-items: center;    
    justify-content: space-around;
    cursor: pointer;
    z-index: 100;
    flex-wrap: wrap;
                                                

}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.navbar-menu-home{
    margin-right: 20px;
    font-size: 16px;
    color: #F89D55;
    font-weight: 500;
    
}
.navbar-menu-organization
{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}
.navbar-menu-organization:hover{
    color: #F89D55;
}

.navbar-menu-teacher{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}
.navbar-menu-teacher:hover{
    color: #F89D55;
}
.navbar-menu-support{
    margin-right: 0px;
    margin-left: 20px;
    font-weight: 500;
}
.navbar-menu-support:hover{
    color: #F89D55;
}
.navbar-user{
border-color: #FFFFFF;
border-radius: 50%;
border: 1px solid;
padding:4px;
background-color: #FFFFFF;
color: #000000;
font-size: 14px;
}
.container{
    height: 96vh;
    
  
}
.container-img{
    width: 100%;
    height: 100%;
}
.container-content{
    display: flex;
    position:absolute;
    top:25%;
    right:20%;
    align-items: center;    
}
.container-content-logo{
    width: 20%;
}
@media screen and (max-width: 600px) {
    .container-content-logo-circle img{
     width:200px;
     display: none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .container-content-logo-circle img{
        width: 200px;
        display: none;
    }
  }
  @media screen and (max-width: 1500px) {
    .container-content-logo-circle img{
        width: 300px;
        margin-left: 20px;
        
    }
  }
.container-content-text h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 53.25px;
    color: #000000;
}
@media screen and (max-width: 600px) {
    .container-content-text h2{
        font-size: 28px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .container-content-text h2{
        font-size: 30px;
    }
  }
  @media screen and (max-width: 1500px) {
    .container-content-text h2{
        font-size: 38px;
    }
  }
.container-content-text p{
    margin-top: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    color:rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 600px) {
    .container-content-text p{
        font-size: 12px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .container-content-text p{
        font-size: 14px;
    }
  }
  @media screen and (max-width: 1500px) {
    .container-content-text p{
        font-size: 18px;
    }
  }
.container-content-text-btn
{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
.container-content-text-btn .btn-owner
{
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: rgba(255, 255, 255, 1);
    background: #F96B36;
    border-radius: 5px;
    padding: 20px 56px;
    margin-right: 20px;
    cursor: pointer;
    
}
@media screen and (max-width: 600px) {
    .container-content-text-btn .btn-owner {
        margin-right: 0px;
        padding: 14px 40px;
        font-size: 18px;
    }
    
  }
  
  @media screen and (max-width: 800px) {
    .container-content-text-btn .btn-owner {
        margin-right: 0px;
        padding: 16px 44px;
        font-size: 20px;
    }
  }
  @media screen and (max-width: 1500px) {
    .container-content-text-btn .btn-owner {
        
    padding: 12px 38px;
     font-size: 20px;
    }
  }
.container-content-text-btn .btn-student
{
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: rgba(255, 255, 255, 1);
    background: #4F9FE4;
    border-radius: 5px;
    padding: 20px 56px;
    margin-left: 20px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .container-content-text-btn .btn-student {
        margin-left: 0px;
        padding: 14px 40px;
        font-size: 18px;
    }
    
  }
  
  @media screen and (max-width: 800px) {
    .container-content-text-btn .btn-student {
        margin-left: 0px;
        padding: 16px 44px;
        font-size: 20px;
    }
  }
  @media screen and (max-width: 1500px) {
    .container-content-text-btn .btn-student {
        
        padding: 12px 38px;
        font-size: 20px;
    }
  }
.navbar-black{
width: 100%;
height: 40px;
background: #000000;
border: 1px solid #000000;
margin-top: -4px;
}
.container-second{
    position: relative;
    height: 96vh;
}
.container-second-top img{
    position: absolute;
    right: 0px;
    top:0px;
}
.container-second-background{
    position: absolute;
    display: flex;
    top:20%;
    right: 10%;
    
}
.container-second-content h2{
font-family: 'Proza Libre', sans-serif;
font-weight: 600;
font-size: 32px;
line-height: 43px;
margin-top: 20px;
}
@media screen and (max-width: 600px) {
    .container-second-content h2 {
        font-size: 20px;
       line-height: 24px;
    }
    
  }
  
  @media screen and (max-width: 800px) {
    .container-second-content h2 {
        font-size: 24px;
       line-height: 28px;
    }
  }
  @media screen and (max-width: 1500px) {
    .container-second-content h2 {
        font-size: 28px;
       line-height: 40px;
    }
  }

.container-second-content{
    margin-right: 80px;
}
@media screen and (max-width: 1500px) {
    .container-second-content{
        margin-right: 60px;
    }
  }
.container-second-content p{
font-family: 'Proza Libre', sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 33px;
color: #000000;
margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
    .container-second-content p {
        font-size: 18px;
       line-height: 24px;
    }
    
  }
  
  @media screen and (max-width: 800px) {
    .container-second-content p {
        font-size: 20px;
       line-height: 28px;
    }
  }
  @media screen and (max-width: 1500px) {
    .container-second-content p {
        font-size: 22px;
       line-height: 30px;
    }
  }
.container-second-content p span{
    font-family: 'Proza Libre', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #F96B36;
}
.container-second-content-btn
{
    font-family: 'Proza Libre', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: rgba(255, 255, 255, 1);
    background: #C43602;
    border-radius: 5px;
    padding: 20px 36px;
    margin-right: 20px;
    cursor: pointer;
    width: 350px;

}


@media screen and (max-width: 600px) {
    .container-second-content-btn {
     width:200px;
     font-weight: 400;
     font-size: 14px;
        padding: 6px 20px;
    }
    .container-second-content-img img{
        width: 0px;
        display: none;
     }  
  }
  
  @media screen and (max-width: 800px) {
    .container-second-content-btn {
        width:240px;
        font-weight: 500;
        font-size: 16px;
        padding: 8px 22px;
       }
       .container-second-content-img img{
        width: 0px;
        display: none;
     }  
  }
  @media screen and (max-width: 1500px) {
    .container-second-content-btn {
        width:300px;
        font-weight: 500;
        font-size: 20px;
        padding: 12px 26px;
       }
     .container-second-content-img img{
        width: 450px;
        height: 320px;
     }  
  }
  .container-second-content-img img {
    height: 348px;
    border-radius: 5px;
  }
.container-second-end{
    position:absolute;
    top: 80%;
    width: 100%;
    
}
.container-second-end p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 20px;
}
.container-second-end p span{
    
    font-family: 'Proza Libre', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    color: #F96B36;
}
.container-second-end-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

  @media screen and (max-width: 1500px) {
    .container-second-end-img img {
        width: 82%;
    }
    
  }
.container-principle{
    width: 100%;
}
@media screen and (max-width: 1500px) {
    .container-second-end-img img {
        width: 82%;

    }
    
  }
.principle{
margin: 0px 15px 0px 15px;

background-color:  #C43602;

}
.container-principle-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.priciple img{
    border-radius: 2px;
}
@media screen and (max-width: 1500px) {
    .principle img {
        width: 260px;
    }
    
  }
.priciple-text{
display: flex;
font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
background-color:  #C43602;
padding: 8px 4px 60px 4px;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
width: 100%;
bottom: 12px;
height: 158px;


}
@media screen and (max-width: 1500px) {
    .priciple-text {
       
        font-size: 20px;
        line-height: 24px;
    }
    
  }
.container-principle-title{
font-family: 'Proza Libre', sans-serif;
color: #C43602;
font-weight: 600;
font-size: 32px;
line-height: 43px;
margin-top: 120px;
margin-left: 10%;
margin-bottom: 15px;
}
.container-teacher{
    width: 100%;
}
.container-teacher-question{
    margin-left: 10%;
    margin-top: 120px;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    color: #03416A;
    margin-bottom: 15px;
}
.container-teacher-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.content-1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #03416A;
    
}
@media screen and (max-width: 600px) {
    .content-1 {
        font-size: 22px;
        line-height: 32px;
       }
       .content-1-text
       {
           margin-left: 0px !important;
       }
       .content-1 img{
        width: 250px;
       }
  }
  
  @media screen and (max-width: 800px) {
    .content-1 {
        font-size: 24px;
        line-height: 36px;
       }  
       .content-1 img{
        width: 300px;
       }
  }
  @media screen and (max-width: 1500px) {
    .content-1 {
        font-size: 28px;
        line-height: 40px;
       }
       
  }
.content-2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #03416A;
    
}
@media screen and (max-width: 600px) {
    .content-2 {
        font-size: 22px;
        line-height: 32px;
       }
       .content-2-text
       {
        margin-right: 0px !important;
        margin-left:0px !important;
        }
        .content-2 img{
            width: 250px;
           }
           .container-teacher-content-img img{
            width:260px;
           }
  }
  
  @media screen and (max-width: 800px) {
    .content-2 {
        font-size: 24px;
        line-height: 36px;
       }  
       .content-2 img{
        width: 300px;
       }
       .container-teacher-content-img img{
        width:300px;
       }
  }
  @media screen and (max-width: 1500px) {
    .content-2 {
        font-size: 28px;
        line-height: 40px;
       }
       .container-teacher-content-img img{
       width: 420px;
       height: 696px;
       }
  }
.content-1-text
{
    
}
.content-2-text
{
    margin-right: 14px;
    margin-left:20px;
}
.container-about
{
    width: 100%;
    margin-top: 20px;
}
.container-about-img img {

    width: 1320px;
  
}
@media screen and (max-width:600px) {
    .container-about-img img
{
    width: 400px ;
}
  }
  

@media screen and (max-width: 800px) {
    .container-about-img img
    {
        width: 720px !important ;
    }
}
@media screen and (max-width: 1500px) {
        .content-2 img
        {
            width: 350px;
        }
          
          .content-1 img
          {
              width: 350px;
              
          }
          .container-about-img img {
            width: 1168px ;
          }
        }
       
  
.content-1 img{
    margin-right: 40px;
}
.container-teacher-content-text{
    margin-right: 14px;
}
.container-about-img
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.end{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.container-teacher-content-img{
    margin-top: 10px;
}
.end-bar {
    
   
    

}
.end-bar-menu{
    display: flex;
    width: 100%;
}
.end-bar-meet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.contact{
    display: flex;
    
}
.end-bar-infor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vnpay{
    display: flex;
}
.menu-home{
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
margin-right: 4px;

cursor: pointer;
}
.menu-home .icon-home{
    font-size: 16px;
    margin-right: 4px;
    cursor: pointer;
}
.menu-support{
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: rgba(0, 0, 0, 0.7);
cursor: pointer;


}
.menu-sp{
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
}
.end-bar-meet{
    font-family: 'Inter', sans-serif;
    color: #797979;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0px;
}
 .icon{
    font-size: 30px;
    margin: 0px 8px 0px 8px;
    color: #797979;
    cursor: pointer;
}
.end-bar-infor-company h2{
font-family: 'Inter', sans-serif;
color: #797979;
font-weight: 300;
font-size: 20px;
line-height: 24px;
}
.company-mail
{
font-family: 'Inter', sans-serif;
color: #979797;
font-weight: 300;
font-size: 16px;
line-height: 19px;
margin: 8px 0px;
}
.company-location{
    display: flex;
    font-family: 'Inter', sans-serif;
    color: #979797;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    justify-content: center;
    margin: 8px 0px;
}
.vnpay h2{
    font-family: 'Inter', sans-serif;
color: #979797;
font-weight: 300;
font-size: 20px;
line-height: 24px;
}
.vnpay img{
    width: 85px;
    margin-left:12px;
}
.vnpay{
    margin: 20px 0px;
}
.support-question{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #5E5E5E;
    display: flex;
    flex-wrap: wrap;

}
.end-bar-infor-payment{
    margin-left: 32px;
}
.container-principle-title-end{
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    font-family: 'Proza Libre', sans-serif;
    color: #C43602;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
     align-items: center;
    margin-top: 12px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .container-principle-title-end{
        justify-content: center;
        font-size: 18px;
    }
       

    
  }
  
  @media screen and (max-width: 800px) 
     {
        .container-principle-title-end{
            justify-content: center;
            font-size: 20px;
        }
       
  }
  @media screen and (max-width: 1500px) {
    .container-principle-title-end{
        margin-right: 11%;
        
    }
       
  }
.container-principle-title-end .icon-right
{
    margin-left: 8px;
    margin-right: 10px;
}
.text-endnavbar{
    color: rgba(6, 43, 68, 1);
}